@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  padding-left: 5rem;
  
  /* margin-right: 0; */
  /* margin-left: 30rem; */
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: left;
  
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

/* #sidebar .nav{
  
} */

#sidebar .navbar a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  
  padding: 16px 24px;
}

#sidebar .navbar a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .navbar a i{
  margin-right: 16px;
}

#navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
    
}

#navbar ul{
  list-style: none;
}

.social-links a {
  list-style: none;
}

header .navbar ul li a:hover{
    background:var(--yellow);
   
}

.nav-menu {
  list-style: none;
}

img{
    /* background-image: url(Image/Agutu.jpg); */
    size-adjust: 50%;
}

.nav-menu  {
  list-style: none;
}


#portfolio{
  margin-top: 3rem;
}

#interest{
  margin-top: 3rem;
}

.user{
  height: 100vh;
  width: 100%;
  /* background-image: url(/Image/juliet.jpg); */
  
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 5px;
  
 }
   
 
 
   
 .fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 3px;
   }
   
 .fa-instagram {
  border-radius: 50%;
  font-size: 20px;
  padding: 3px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
   box-shadow: 0px 3px 10px rgba(0,0,0,.25);
   }       
   
   
 .fa-pinterest {
  background: #cb2027;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 3px;
   }

   

